@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(17, 24, 39);
  color: rgb(243, 244, 246);
  transition: background-color 0.3s linear, color 0.3s linear;
  font-family: "Kanit", sans-serif;
}

.dark-mode body {
  background-color: rgb(17, 24, 39);
  color: rgb(243, 244, 246);
}

.light-mode body {
  background-color: #f5f5f5;
  color: rgb(17, 24, 39);
}
